# Pandas

Pandas is a library written for the Python programming language for data manipulation and analysis . In particular, it offers data structures and operations for manipulating numerical tables and time series.
Created by Wes McKinney, Pandas stands for **Pan**el **Da**ta library.
It is the most popular data analysis library for Python.

More documentation at (https://pandas.pydata.org/)

## Load Library

We have to load the library.

In [1]:
import numpy as np
import pandas as pd

## Series
The first main data type we will learn about for pandas is the Series data type.  So series is the basic building block of Pandas and it holds and array of information organized by an index..
A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

### Creating a Series

You can convert a list,numpy array, or dictionary to a Series:

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

#### Using Lists

In [3]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

#### Using NumPy Arrays

In [6]:
pd.Series(data=arr)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(data=arr,index=labels)

a    10
b    20
c    30
dtype: int64

#### Using Dictionaries

In [8]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

#### Data in a Series

A pandas Series can hold a variety of object types:

In [9]:
# Even functions (although unlikely that you will use this)
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

### Using an Index

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [10]:
data1=[1,2,3,4]
index1 = ['USA', 'Germany','USSR', 'Japan']

ser1 = pd.Series(data=data1,index = index1)

In [11]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [12]:
data2=[1,2,5,4]
index2 = ['USA', 'Germany','Italy', 'Japan']

ser2 = pd.Series(data=data2,index = index2)

In [13]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [14]:
ser1['USA']

1

Operations are then also done based off of index:

In [15]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

Let's stop here for now and move on to DataFrames, which will expand on the concept of Series.

## DataFrames - EASY

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index.

### Load the Dataframe

In [16]:
from numpy.random import randn
np.random.seed(101)

In [17]:
df_easy = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

### Visualize the Dataset

In [18]:
df_easy

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

Print only last 10 line
    
    df.tail(10)

Print only the first line

    df.head(10)
    
Print the shape of the dataset

    df.shape
    
See info of the dataset

    df.info()
    
Show columns intestation

    df.columns
    
We can also setsome option to pandas to display better the data

In [19]:
#Display all the column and all the info of every column
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

### Selection and Indexing

#### Access Column

We can access to a specific column using the label of the column

In [19]:
df_easy['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [20]:
df_easy[['W', 'X']]

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318
C -2.018168  0.740122
D  0.188695 -0.758872
E  0.190794  1.978757

#### Access Row

The most common is to use loc function

In [21]:
df_easy.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [22]:
#Select based off of position instead of label 
df_easy.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [23]:
# Select multiple row
df_easy.loc[['A', 'B']]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965

So as we see we got only the first two row. We can get more complicated one using slicing

In [24]:
df_easy.loc[ 'A':'C', 'X':'Z']

          X         Y         Z
A  0.628133  0.907969  0.503826
B -0.319318 -0.848077  0.605965
C  0.740122  0.528813 -0.589001

We can also see the count of element in each variable, so we can display

### New label identifiers

Until now we use thye order prestabilied to identify the object. Now maybe we want to use other identifier for each row, so we use this indexing. So now the first column is the one we choose, and it can be useful.

In [25]:
df_easy

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [26]:
# Reset to default 0,1...n index
df_easy.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [27]:
newind = 'CA NY WY OR CO'.split()

In [28]:
df_easy['States'] = newind

In [29]:
df_easy

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [30]:
df_easy.set_index('States', inplace=True)

We can also sort it alphabetically

In [31]:
df_easy.sort_index(inplace=True)

df_easy

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
CO      0.190794  1.978757  2.605967  0.683509
NY      0.651118 -0.319318 -0.848077  0.605965
OR      0.188695 -0.758872 -0.933237  0.955057
WY     -2.018168  0.740122  0.528813 -0.589001

### Add and remove Columns and Row

To add a column is very easy, in particular we create a column and that we attach it.

In [32]:
df_easy['new'] = df_easy['W'] + df_easy['Y']

In [33]:
df_easy

               W         X         Y         Z       new
States
CA      2.706850  0.628133  0.907969  0.503826  3.614819
CO      0.190794  1.978757  2.605967  0.683509  2.796762
NY      0.651118 -0.319318 -0.848077  0.605965 -0.196959
OR      0.188695 -0.758872 -0.933237  0.955057 -0.744542
WY     -2.018168  0.740122  0.528813 -0.589001 -1.489355

In [34]:
df_easy.drop('new',axis=1)

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
CO      0.190794  1.978757  2.605967  0.683509
NY      0.651118 -0.319318 -0.848077  0.605965
OR      0.188695 -0.758872 -0.933237  0.955057
WY     -2.018168  0.740122  0.528813 -0.589001

The change are not permanent unless inplace=True specified.

In [35]:
df_easy.drop('new',axis=1,inplace=True)

In [36]:
df_easy

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
CO      0.190794  1.978757  2.605967  0.683509
NY      0.651118 -0.319318 -0.848077  0.605965
OR      0.188695 -0.758872 -0.933237  0.955057
WY     -2.018168  0.740122  0.528813 -0.589001

In [37]:
# Drop multiple column
df_easy.drop(columns=['X', 'Y'])

               W         Z
States
CA      2.706850  0.503826
CO      0.190794  0.683509
NY      0.651118  0.605965
OR      0.188695  0.955057
WY     -2.018168 -0.589001

Can also drop rows this way:

In [38]:
df_easy.drop('CA',axis=0)

               W         X         Y         Z
States
CO      0.190794  1.978757  2.605967  0.683509
NY      0.651118 -0.319318 -0.848077  0.605965
OR      0.188695 -0.758872 -0.933237  0.955057
WY     -2.018168  0.740122  0.528813 -0.589001

We can append also a value of a calumn and all the other value with NaN. And this will append a row at the end of the dataset.

In [39]:
df_easy.append({'Z': 'Bergamo'}, ignore_index=True)

/tmp/ipykernel_1229936/2011487145.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_easy.append({'Z': 'Bergamo'}, ignore_index=True)

          W         X         Y         Z
0  2.706850  0.628133  0.907969  0.503826
1  0.190794  1.978757  2.605967  0.683509
2  0.651118 -0.319318 -0.848077  0.605965
3  0.188695 -0.758872 -0.933237  0.955057
4 -2.018168  0.740122  0.528813 -0.589001
5       NaN       NaN       NaN   Bergamo

We can also append dataset under dataset, using this syntax

    df = df.append(df2, ignore_index=True, sort=False)
    
We can also drop a column using drop and the index that we want to drop.

### Filtering the Dataset

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [40]:
df_easy

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
CO      0.190794  1.978757  2.605967  0.683509
NY      0.651118 -0.319318 -0.848077  0.605965
OR      0.188695 -0.758872 -0.933237  0.955057
WY     -2.018168  0.740122  0.528813 -0.589001

In [41]:
df_easy>0

            W      X      Y      Z
States
CA       True   True   True   True
CO       True   True   True   True
NY       True  False  False   True
OR       True  False  False   True
WY      False   True   True  False

In [42]:
# Report only the dataset that have value greater than 0
filt = df_easy > 0
df_easy[filt]

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
CO      0.190794  1.978757  2.605967  0.683509
NY      0.651118       NaN       NaN  0.605965
OR      0.188695       NaN       NaN  0.955057
WY           NaN  0.740122  0.528813       NaN

In [43]:
# Report only the dataset that have W value greater than 0
filt = df_easy['W']>0
df_easy.loc[filt]

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
CO      0.190794  1.978757  2.605967  0.683509
NY      0.651118 -0.319318 -0.848077  0.605965
OR      0.188695 -0.758872 -0.933237  0.955057

In [44]:
# Report only the dataset of Y value that have value W greater than 0
filt = df_easy['W']>0
df_easy.loc[filt]['Y']

States
CA    0.907969
CO    2.605967
NY   -0.848077
OR   -0.933237
Name: Y, dtype: float64

In [45]:
filt = df_easy['W']>0
df_easy.loc[filt][['Y','X']]

               Y         X
States
CA      0.907969  0.628133
CO      2.605967  1.978757
NY     -0.848077 -0.319318
OR     -0.933237 -0.758872

For two conditions you can use | and & with parenthesis:

In [46]:
filt = (df_easy['W']>0) & (df_easy['Y'] > 1)
df_easy.loc[filt]

               W         X         Y         Z
States
CO      0.190794  1.978757  2.605967  0.683509

### Missing Data

Let's show a few convenient methods to deal with Missing Data in pandas:

In [47]:
import numpy as np
import pandas as pd

In [48]:
df_easy = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [49]:
df_easy

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

#### isna

In [50]:
#List the Nan value with a Boolean table
df_easy.isna()

       A      B      C
0  False  False  False
1  False   True  False
2   True   True  False

#### dropna

In [51]:
# Drop all row and column that contain NaN
df_easy.dropna()

     A    B  C
0  1.0  5.0  1

In [52]:
# Drop all column that contain NaN
df_easy.dropna(axis=1)

   C
0  1
1  2
2  3

In [53]:
# Drop all row that contain NaN
df_easy.dropna(axis=0)

     A    B  C
0  1.0  5.0  1

In [54]:
# Keep only the rows with at least 2 non-NA values.
df_easy.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [55]:
#Drop row and column only considering the Nan value in a particular column
df_easy.dropna(axis='index', how='all', subset=['B'])

     A    B  C
0  1.0  5.0  1

#### fillna

In [56]:
df_easy.fillna(value='FILL VALUE')

            A           B  C
0         1.0         5.0  1
1         2.0  FILL VALUE  2
2  FILL VALUE  FILL VALUE  3

In [57]:
#Replace Nan value with the mean of the column
df_easy['A'].fillna(value=df_easy['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

We can have missing value that are written differently from NaN, in that case we use to replace it with np.nan

    df.replace('Na', np.nan, inplace=True)
    df.replace('Missing', np.nan, inplace=True)

### Basic Statistics

#### groupby

The groupby method allows you to group rows of data together and call aggregate functions

In [58]:
import pandas as pd
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [59]:
df_easy = pd.DataFrame(data)

In [60]:
df_easy

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

<strong>Now you can use the .groupby() method to group rows together based off of a column name.<br>For instance let's group based off of Company. This will create a DataFrameGroupBy object:</strong>

In [61]:
df_easy.groupby('Company')

You can save this object as a new variable:

In [62]:
by_comp = df_easy.groupby("Company")

#### Aggregate method for statistics

And then call aggregate methods off the object:

In [63]:
by_comp.mean()

/tmp/ipykernel_1229936/2894085431.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  by_comp.mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [64]:
df_easy.groupby('Company').mean()

/tmp/ipykernel_1229936/2686450187.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_easy.groupby('Company').mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

More examples of aggregate methods:

In [65]:
by_comp.std()

/tmp/ipykernel_1229936/2424883587.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  by_comp.std()

              Sales
Company
FB        75.660426
GOOG      56.568542
MSFT     152.735065

In [66]:
by_comp.min()

          Person  Sales
Company
FB          Carl    243
GOOG     Charlie    120
MSFT         Amy    124

In [67]:
by_comp.max()

          Person  Sales
Company
FB         Sarah    350
GOOG         Sam    200
MSFT     Vanessa    340

In [68]:
by_comp.count()

         Person  Sales
Company
FB            2      2
GOOG          2      2
MSFT          2      2

In [69]:
by_comp.describe()

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [70]:
by_comp.describe().transpose()

Company              FB        GOOG        MSFT
Sales count    2.000000    2.000000    2.000000
      mean   296.500000  160.000000  232.000000
      std     75.660426   56.568542  152.735065
      min    243.000000  120.000000  124.000000
      25%    269.750000  140.000000  178.000000
      50%    296.500000  160.000000  232.000000
      75%    323.250000  180.000000  286.000000
      max    350.000000  200.000000  340.000000

In [71]:
by_comp.describe().transpose()['GOOG']

Sales  count      2.000000
       mean     160.000000
       std       56.568542
       min      120.000000
       25%      140.000000
       50%      160.000000
       75%      180.000000
       max      200.000000
Name: GOOG, dtype: float64

### Operations

There are lots of operations with pandas that will be really useful to you, but don't fall into any distinct category. Let's show them here in this lecture:

In [72]:
import pandas as pd
df_easy = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df_easy.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

#### Info on Unique Values

In [73]:
df_easy['col2'].unique()

array([444, 555, 666])

In [74]:
df_easy['col2'].nunique()

3

In [75]:
df_easy['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

#### Applying Functions

In [76]:
def times2(x):
    return x*2

In [77]:
df_easy['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [78]:
df_easy['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [79]:
df_easy['col1'].sum()

10

#### Permanently Removing a Column

In [80]:
del df_easy['col1']

In [81]:
df_easy

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

#### Get column and index names:

In [82]:
df_easy.columns

Index(['col2', 'col3'], dtype='object')

In [83]:
df_easy.index

RangeIndex(start=0, stop=4, step=1)

#### Sorting and Ordering a DataFrame:

In [84]:
df_easy

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [85]:
df_easy.sort_values(by='col2') #inplace=False by default

   col2 col3
0   444  abc
3   444  xyz
1   555  def
2   666  ghi

## DataFrames - COMPLEX

### Load the Dataframe

We load the data from (https://insights.stackoverflow.com/survey) at years 2019.

In this case the file is in CVS format, so we can use the following code

In [87]:
#Df stay for dataframe
df = pd.read_csv('Data/survey_results_public.csv')

### Visualize the Dataset

In [88]:
#visualize
df

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelors degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

We load also this dataset, in particular this dataset contain the information the explay each attributes.

In [89]:
schema_df = pd.read_csv('Data/survey_results_schema.csv')

In [90]:
schema_df

          Column                                       QuestionText
0     Respondent  Randomized respondent ID number (not in order ...
1     MainBranch  Which of the following options best describes ...
2       Hobbyist                            Do you code as a hobby?
3    OpenSourcer        How often do you contribute to open source?
4     OpenSource  How do you feel about the quality of open sour...
..           ...                                                ...
80     Sexuality  Which of the following do you currently identi...
81     Ethnicity  Which of the following do you identify as? Ple...
82    Dependents  Do you have any dependents (e.g., children, el...
83  SurveyLength  How do you feel about the length of the survey...
84    SurveyEase  How easy or difficult was this survey to compl...

[85 rows x 2 columns]

### Selection and Indexing

#### Access to Column

We can access to a specific column using the label of the column

In [91]:
df['Hobbyist']

0        Yes
1         No
2        Yes
3         No
4        Yes
        ...
88878    Yes
88879     No
88880     No
88881     No
88882    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [92]:
df[['Respondent', 'MainBranch']]

       Respondent                                         MainBranch
0               1             I am a student who is learning to code
1               2             I am a student who is learning to code
2               3  I am not primarily a developer, but I write co...
3               4                     I am a developer by profession
4               5                     I am a developer by profession
...           ...                                                ...
88878       88377                                                NaN
88879       88601                                                NaN
88880       88802                                                NaN
88881       88816                                                NaN
88882       88863                                                NaN

[88883 rows x 2 columns]

#### Access Row

The most common is to use loc function

In [93]:
df.loc[[0, 1], ['Respondent', 'MainBranch']]

   Respondent                              MainBranch
0           1  I am a student who is learning to code
1           2  I am a student who is learning to code

So as we see we got only the first two row. We can get more complicated one using slicing

In [94]:
df.loc[ 8000:8010, 'Respondent':'Employment']

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment
8000,8036,I am a developer by profession,No,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time
8001,8037,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time
8002,8038,I am a student who is learning to code,Yes,Never,NaN,NaN
8003,8039,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time
8004,8040,I am a student who is learning to code,Yes,Less than once per year,"OSS is, on average, of LOWER quality than prop...","Not employed, but looking for work"
8005,8041,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time
8006,8042,I am a student who is learning to code,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work"
8007,8043,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time
8008,8044,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time
8009,8045,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time
8010,8046,"I am not primarily a developer, but I write co...",No,Never,The quality of OSS and closed source software ...,Employed full-time

We can also see the count of element in each variable, so we can display

In [95]:
df['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

### New label identifiers

Until now we use thye order prestabilied to identify the object. Now maybe we want to use other identifier for each row, so we use this indexing. So now the first column is the one we choose, and it can be useful.

In [96]:
df.set_index('Country', inplace=True)

df.head(3)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Country,,,,,,,,,,,,,,,,,,,,,
United Kingdom,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
Bosnia and Herzegovina,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work","Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
Thailand,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult

We can also sort it alphabetically

In [97]:
df.sort_index(inplace=True)

df.head(3)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,39258,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of LOWER quality than prop...",Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,NaN,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,East Asian;South Asian,Yes,Too long,Easy
Afghanistan,63129,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,"Yes, full-time",I never completed any formal education,NaN,Taken an online course in programming or softw...,...,NaN,Tech articles written by other developers,NaN,NaN,NaN,NaN,NaN,Yes,Too short,Easy
Afghanistan,85715,I am a developer by profession,No,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",Received on-the-job training in software devel...,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,28.0,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult

Note that now I can't access to the orw using the previous method

    df.loc[[0, 1], ['Respondent', 'MainBranch']]

We can also reset to default indexing using

In [98]:
df.reset_index(inplace=True)

df.head(3)

,Country,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,Afghanistan,39258,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of LOWER quality than prop...",Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,NaN,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,East Asian;South Asian,Yes,Too long,Easy
1,Afghanistan,63129,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,"Yes, full-time",I never completed any formal education,NaN,...,NaN,Tech articles written by other developers,NaN,NaN,NaN,NaN,NaN,Yes,Too short,Easy
2,Afghanistan,85715,I am a developer by profession,No,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,28.0,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult

### Add and remove Columns and Row

To add a column is very easy, in particular we create a column and that we attach it.

In [99]:
df['new_join_variable'] = df['Country'] + ' ' + df['CurrencySymbol']

df

,Country,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Student,EdLevel,UndergradMajor,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,new_join_variable
0,Afghanistan,39258,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of LOWER quality than prop...",Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,East Asian;South Asian,Yes,Too long,Easy,Afghanistan AFN
1,Afghanistan,63129,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,"Yes, full-time",I never completed any formal education,NaN,...,Tech articles written by other developers,NaN,NaN,NaN,NaN,NaN,Yes,Too short,Easy,Afghanistan AED
2,Afghanistan,85715,I am a developer by profession,No,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,Tech articles written by other developers;Indu...,28.0,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult,Afghanistan AFN
3,Afghanistan,50767,I am a developer by profession,No,Less than once per year,NaN,"Independent contractor, freelancer, or self-em...","Yes, part-time",Associate degree,"A health science (ex. nursing, pharmacy, radio...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan AMD
4,Afghanistan,2782,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",NaN,No,NaN,I never declared a major,...,NaN,60.0,Man,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,NaN,88062,NaN,No,Never,"OSS is, on average, of LOWER quality than prop...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88879,NaN,88076,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,NaN,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,NaN,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,NaN,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We can so delate the column that we don't need using

In [100]:
df.drop(columns=['OpenSourcer', 'CurrencySymbol'], inplace=True)

And also split the new joit variable in the variable of before

In [101]:
# Not running sine we got some NaN value inside
#df[['Country', 'CurrencySymbol']] = df['new_join_variable'].str.split(' ', expand=True)

We can append also a value of a column and all the other value with NaN. And this will append a row at the end of the dataset.

In [102]:
df = df.append({'Country': 'Bergamo'}, ignore_index=True)

/tmp/ipykernel_1229936/2183142077.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Country': 'Bergamo'}, ignore_index=True)

We can also append dataset under dataset, using this syntax

    df = df.append(df2, ignore_index=True, sort=False)
    
We can also drop a column using drop and the index that we want to drop.

In [103]:
df = df.drop(index=4)

And I can use the drop function for drop the row that don't respect a filter. In this case we will use the following syntax.

    df = df.drop(index=df[filt].index)

### Filtering the Dataset

We can filter data, for example

In [104]:
df['Age'] == 26.0

0         True
1        False
2        False
3        False
5        False
         ...
88879    False
88880    False
88881    False
88882    False
88883    False
Name: Age, Length: 88883, dtype: bool

And we get back where the condition is true and where is not.

If we want the dataframe back with only the value that met the filter criteria. So I create a variable containing the filter and that i use the loc function

In [105]:
filt = df['Age'] == 26.0

In [106]:
df.loc[filt]

,Country,Respondent,MainBranch,Hobbyist,OpenSource,Employment,Student,EdLevel,UndergradMajor,EduOther,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,new_join_variable
0,Afghanistan,39258.0,I am a developer by profession,Yes,"OSS is, on average, of LOWER quality than prop...",Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,East Asian;South Asian,Yes,Too long,Easy,Afghanistan AFN
22,Afghanistan,7085.0,I am a developer by profession,Yes,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,Industry news about technologies you're intere...,26.0,Man,NaN,Straight / Heterosexual,East Asian,Yes,Appropriate in length,Neither easy nor difficult,Afghanistan AFN
38,Afghanistan,29736.0,I am a developer by profession,Yes,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,"Yes, part-time",Primary/elementary school,NaN,Taken an online course in programming or softw...,...,Courses on technologies you're interested in,26.0,Man,No,NaN,NaN,Yes,Too long,Easy,Afghanistan AFN
41,Afghanistan,58450.0,I am a developer by profession,Yes,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Tech articles written by other developers,26.0,Man,No,Straight / Heterosexual,South Asian,No,Too long,Neither easy nor difficult,Afghanistan AFN
44,Albania,78817.0,I am a developer by profession,Yes,"OSS is, on average, of LOWER quality than prop...",Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,Tech articles written by other developers;Cour...,26.0,Man,No,NaN,White or of European descent,No,Appropriate in length,Easy,Albania ALL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88721,Zimbabwe,11057.0,I code primarily as a hobby,Yes,The quality of OSS and closed source software ...,Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...","Taught yourself a new language, framework, or ...",...,Tech meetups or events in your area,26.0,Man,No,Straight / Heterosexual,Black or of African descent,Yes,Too long,Easy,NaN
88726,Zimbabwe,54719.0,I am a developer by profession,Yes,The quality of OSS and closed source software ...,Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...","Taught yourself a new language, framework, or ...",...,Tech articles written by other developers;Indu...,26.0,Man,NaN,NaN,Black or of African descent,Yes,Too long,NaN,Zimbabwe USD
88728,Zimbabwe,47247.0,"I am not primarily a developer, but I write co...",No,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...","Yes, full-time","Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,Black or of African descent,Yes,Too long,Neither easy nor difficult,Zimbabwe USD
88729,Zimbabwe,48100.0,I code primarily as a hobby,Yes,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",No,"Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy,NaN
88750,Zimbabwe,61083.0,I am a student who is learning to code,Yes,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work","Yes, part-time",Some college/university study without earning ...,"Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Tech articles written by other developers;Indu...,26.0,Man,NaN,NaN,Black or of African descent,Yes,Too long,Neither easy nor difficult,NaN

Or more sophisticated example as

In [107]:
filt = df['LanguageWorkedWith'].str.contains('Python', na=False)

In [108]:
df.loc[filt]

,Country,Respondent,MainBranch,Hobbyist,OpenSource,Employment,Student,EdLevel,UndergradMajor,EduOther,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,new_join_variable
7,Afghanistan,40000.0,I am a student who is learning to code,Yes,The quality of OSS and closed source software ...,"Not employed, and not looking for work","Yes, full-time","Secondary school (e.g. American high school, G...",NaN,"Taught yourself a new language, framework, or ...",...,Tech articles written by other developers;Indu...,NaN,NaN,No,NaN,NaN,NaN,Appropriate in length,Easy,NaN
8,Afghanistan,88731.0,I code primarily as a hobby,Yes,"OSS is, on average, of LOWER quality than prop...",NaN,No,Primary/elementary school,NaN,Taken a part-time in-person course in programm...,...,Tech articles written by other developers;Cour...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy,NaN
10,Afghanistan,10746.0,I am a developer by profession,Yes,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",Taken a part-time in-person course in programm...,...,Tech articles written by other developers;Tech...,24.0,Man,No,NaN,South Asian,NaN,Appropriate in length,Neither easy nor difficult,Afghanistan AFN
26,Afghanistan,74386.0,I am a student who is learning to code,Yes,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,"Yes, part-time",Associate degree,"Information systems, information technology, o...",Taken an online course in programming or softw...,...,Tech articles written by other developers;Indu...,23.0,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Easy,NaN
27,Afghanistan,29045.0,"I am not primarily a developer, but I write co...",No,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,"Yes, part-time",Associate degree,"Another engineering discipline (ex. civil, ele...",Participated in a full-time developer training...,...,Tech articles written by other developers;Indu...,NaN,"Woman;Man;Non-binary, genderqueer, or gender n...",No,Bisexual;Gay or Lesbian,Black or of African descent;East Asian;Hispani...,NaN,Too short,Neither easy nor difficult,Afghanistan ANG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88729,Zimbabwe,48100.0,I code primarily as a hobby,Yes,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",No,"Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy,NaN
88732,Zimbabwe,6486.0,I am a student who is learning to code,Yes,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Participated in a full-time developer training...,...,Tech articles written by other developers;Indu...,21.0,Woman,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy,NaN
88737,Zimbabwe,5110.0,"I am not primarily a developer, but I write co...",Yes,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,"Yes, full-time",Some college/university study without earning ...,"Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Tech articles written by other developers;Indu...,23.0,Man,No,Straight / Heterosexual,Black or of African descent,Yes,Appropriate in length,Neither easy nor difficult,Zimbabwe USD
88743,Zimbabwe,2530.0,I am a developer by profession,Yes,"OSS is, on average, of LOWER quality than prop...",Employed full-time,"Yes, full-time","Bachelors degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...","Taught yourself a new language, framework, or ...",...,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,Black or of African descent,Yes,Too long,Easy,Zimbabwe USD
88749,Zimbabwe,57894.0,I am a student who is learning to code,Yes,NaN,NaN,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,NaN,...,Tech articles written by other developers;Indu...,21.0,Man,NaN,Straight / Heterosexual,Black or of African descent,No,Too long,Neither easy nor difficult,NaN

In [109]:
# Define the filter
high_salary = (df['ConvertedComp'] > 70000)

df.loc[high_salary, ['Country', 'LanguageWorkedWith']]

,Country,LanguageWorkedWith
1,Afghanistan,Assembly;Bash/Shell/PowerShell;Other(s):
43,Afghanistan,C#;HTML/CSS;JavaScript;SQL;VBA
56,Albania,Go;HTML/CSS;JavaScript;PHP;Python
64,Albania,Assembly;Bash/Shell/PowerShell;C;C++;C#;HTML/C...
127,Albania,HTML/CSS;JavaScript;PHP
...,...,...
88305,Uruguay,HTML/CSS;Java;JavaScript;Kotlin;Python;SQL;Typ...
88408,"Venezuela, Bolivarian Republic of...",HTML/CSS;Ruby;SQL
88557,Viet Nam,HTML/CSS;JavaScript
88610,Viet Nam,Go;HTML/CSS;JavaScript;Python;SQL
88727,Zimbabwe,Java;SQL

In [110]:
countries = ['United states', 'India', 'Canada']

filt = df['Country'].isin(countries)

df.loc[filt]

,Country,Respondent,MainBranch,Hobbyist,OpenSource,Employment,Student,EdLevel,UndergradMajor,EduOther,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,new_join_variable
8128,Canada,36263.0,I am a developer by profession,Yes,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,No,"Masters degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Tech articles written by other developers;Cour...,38.0,Man,No,Straight / Heterosexual,Middle Eastern,No,Appropriate in length,Neither easy nor difficult,Canada CAD
8129,Canada,10666.0,I am a student who is learning to code,No,"OSS is, on average, of LOWER quality than prop...","Not employed, but looking for work","Yes, part-time",Some college/university study without earning ...,"Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,Tech articles written by other developers;Indu...,28.0,Man,No,Gay or Lesbian,East Asian,No,Appropriate in length,Neither easy nor difficult,NaN
8130,Canada,81641.0,I am a developer by profession,Yes,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,No,Associate degree,"Information systems, information technology, o...",Taken an online course in programming or softw...,...,Tech articles written by other developers,26.0,Man,No,Straight / Heterosexual,South Asian,No,Appropriate in length,Easy,Canada CAD
8131,Canada,32543.0,I am a developer by profession,Yes,The quality of OSS and closed source software ...,Employed full-time,No,"Secondary school (e.g. American high school, G...",NaN,"Taught yourself a new language, framework, or ...",...,Tech meetups or events in your area;Courses on...,22.0,Man,No,Bisexual,"Native American, Pacific Islander, or Indigeno...",No,Appropriate in length,Easy,Canada CAD
8132,Canada,70520.0,I am a developer by profession,Yes,The quality of OSS and closed source software ...,Employed full-time,"Yes, full-time","Bachelors degree (BA, BS, B.Eng., etc.)",NaN,Taken an online course in programming or softw...,...,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,South Asian,No,Too long,Easy,Canada CAD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34840,India,79628.0,I am a developer by profession,No,The quality of OSS and closed source software ...,Employed full-time,No,NaN,"Computer science, computer engineering, or sof...",NaN,...,Tech articles written by other developers;Indu...,NaN,Man,NaN,NaN,South Asian,NaN,Too long,Easy,India INR
34841,India,40151.0,NaN,No,"OSS is, on average, of HIGHER quality than pro...",NaN,No,"Secondary school (e.g. American high school, G...",NaN,NaN,...,Tech meetups or events in your area,NaN,Man,No,Straight / Heterosexual,South Asian,Yes,Too long,Neither easy nor difficult,NaN
34842,India,76400.0,"I am not primarily a developer, but I write co...",No,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Tech articles written by other developers,NaN,Man,No,NaN,NaN,Yes,Too long,Easy,India INR
34843,India,30928.0,I am a developer by profession,No,The quality of OSS and closed source software ...,Employed full-time,No,"Masters degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken a part-time in-person course in programm...,...,Industry news about technologies you're intere...,30.0,Man,No,Straight / Heterosexual,South Asian,Yes,Appropriate in length,Easy,India INR
34844,India,30452.0,I am a student who is learning to code,No,"OSS is, on average, of HIGHER quality than pro...",NaN,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,"Taught yourself a new language, framework, or ...",...,Tech articles written by other developers;Indu...,NaN,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult,NaN

### Updating Columns and Row

Maybe we want to rename a specific column or a row, we can use this techniques.

For example we want to eliminate the space in between the word to better access the variable. To do so we can use the following (Note that we don't get any visible changing since there is no space in the labels)

In [111]:
df.columns = df.columns.str.replace(' ', '_')

While if we want to change only some specific columns we can use the rename method

In [112]:
df.rename(columns={'ConvertedComp': 'SalaryUSD'}, inplace=True)

We can also rename the variable inside a column using the map method

In [113]:
df['Hobbyist'] = df['Hobbyist'].map({'Yes': True, 'No': False})

Now we focus on changing things in the row, if we want to change line nember 2 the value of country and Hobbyst

In [114]:
#Multiple value
df.loc[2, ['Country', 'Hobbyist']] = ['Russia', 'False']

In [115]:
#Single value
df.loc[2, 'Hobbyist'] =  'True'

We can use the module apply to apply a function to a specific column

In [116]:
#Preexisted function
#df['State'] = df['State'].apply(len)

#New function
def update_age(age):
    return age + 2

df['Age'] = df['Age'].apply(update_age)

### Sorting Data

The general structure to sort data is the following. we use ascending = False for sord in descending order.

In [117]:
df = df.sort_values(by='Country', ascending=False)

df.head(3)

,Country,Respondent,MainBranch,Hobbyist,OpenSource,Employment,Student,EdLevel,UndergradMajor,EduOther,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,new_join_variable
88723,Zimbabwe,21968.0,I am a student who is learning to code,True,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work","Yes, full-time","Secondary school (e.g. American high school, G...",NaN,"Taught yourself a new language, framework, or ...",...,Tech meetups or events in your area,27.0,Man,No,Straight / Heterosexual,Black or of African descent,No,Too short,Easy,NaN
88732,Zimbabwe,6486.0,I am a student who is learning to code,True,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Participated in a full-time developer training...,...,Tech articles written by other developers;Indu...,23.0,Woman,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy,NaN
88729,Zimbabwe,48100.0,I code primarily as a hobby,True,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",No,"Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Tech articles written by other developers;Indu...,28.0,Man,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy,NaN

And I can have also more complicate structure as

In [118]:
df.sort_values(by=['Country', 'Age'], ascending=[False, True], inplace=True)

We can also sort the dataset using the index of column to sort it, using

In [119]:
df = df.sort_index()

df.head(3)

,Country,Respondent,MainBranch,Hobbyist,OpenSource,Employment,Student,EdLevel,UndergradMajor,EduOther,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,new_join_variable
0,Afghanistan,39258.0,I am a developer by profession,True,"OSS is, on average, of LOWER quality than prop...",Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Tech articles written by other developers;Indu...,28.0,Man,No,Straight / Heterosexual,East Asian;South Asian,Yes,Too long,Easy,Afghanistan AFN
1,Afghanistan,63129.0,I am a developer by profession,True,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,"Yes, full-time",I never completed any formal education,NaN,Taken an online course in programming or softw...,...,Tech articles written by other developers,NaN,NaN,NaN,NaN,NaN,Yes,Too short,Easy,Afghanistan AED
2,Russia,85715.0,I am a developer by profession,True,The quality of OSS and closed source software ...,Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",Received on-the-job training in software devel...,...,Tech articles written by other developers;Indu...,30.0,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult,Afghanistan AFN

We can grab the first 10 value of a specific variable  using function nlargest or the smallest using nsmallest

In [120]:
df.nlargest(10, 'SalaryUSD')

,Country,Respondent,MainBranch,Hobbyist,OpenSource,Employment,Student,EdLevel,UndergradMajor,EduOther,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,new_join_variable
9500,Canada,25983.0,I am a developer by profession,True,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Received on-the-job training in software devel...,...,NaN,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy,Canada USD
22195,Germany,87896.0,I am a developer by profession,True,The quality of OSS and closed source software ...,Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Tech articles written by other developers;Tech...,34.0,Man,No,Gay or Lesbian,White or of European descent,No,Appropriate in length,Neither easy nor difficult,Germany USD
29307,India,22013.0,I am a developer by profession,True,The quality of OSS and closed source software ...,Employed full-time,No,"Professional degree (JD, MD, etc.)","A natural science (ex. biology, chemistry, phy...",Taken an online course in programming or softw...,...,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Easy,India USD
32179,India,28243.0,I am a developer by profession,True,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",No,"Masters degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Tech meetups or events in your area,NaN,NaN,NaN,Straight / Heterosexual,NaN,Yes,Too short,Easy,India USD
33819,India,72732.0,"I am not primarily a developer, but I write co...",False,"OSS is, on average, of LOWER quality than prop...",NaN,"Yes, full-time","Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Contributed to open source software,...,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,Yes,Too long,Easy,India USD
41011,Mexico,78151.0,I am a developer by profession,True,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Tech meetups or events in your area;Courses on...,34.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Appropriate in length,Easy,Mexico USD
42333,Netherlands,80200.0,I am a developer by profession,True,"OSS is, on average, of LOWER quality than prop...",Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Received on-the-job training in software devel...,...,Tech articles written by other developers,27.0,Woman,No,Bisexual,White or of European descent,No,Appropriate in length,Easy,Netherlands USD
46870,Peru,52132.0,I am a developer by profession,True,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,No,Some college/university study without earning ...,I never declared a major,Completed an industry certification program (e...,...,Tech articles written by other developers;Tech...,50.0,Man,NaN,NaN,Black or of African descent;East Asian;Hispani...,Yes,Appropriate in length,Easy,Peru USD
53005,Singapore,75561.0,I am a developer by profession,True,The quality of OSS and closed source software ...,Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","A humanities discipline (ex. literature, histo...",Taken an online course in programming or softw...,...,Tech meetups or events in your area,39.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy,Singapore USD
58230,Switzerland,32250.0,I am a developer by profession,True,The quality of OSS and closed source software ...,Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken a part-time in-person course in programm...,...,Industry news about technologies you're intere...,32.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy,Switzerland USD

### Basics Statistics

We can use the following code to do basic statistics

In [121]:
df['SalaryUSD'].median()

57287.0

In [122]:
#Count Entry not NaN
df['SalaryUSD'].count()

55823

In [123]:
#Count yes and no of a variable
df['Hobbyist'].value_counts()

True     71256
False    17625
True         1
Name: Hobbyist, dtype: int64

In [124]:
#Count value of a certain variable
df['SocialMedia'].value_counts()

Reddit                      14374
YouTube                     13830
WhatsApp                    13347
Facebook                    13178
Twitter                     11398
Instagram                    6261
I don't use social media     5553
LinkedIn                     4501
WeChat                      667
Snapchat                      628
VK                  603
Weibo                      56
Youku Tudou                  21
Hello                          19
Name: SocialMedia, dtype: int64

I can also create a new dataset created by aggregating a variblae, so for example we create here the new dataset that goup by Country.

In [125]:
country_grp = df.groupby(['Country'])

country_grp.get_group('United States')

,Country,Respondent,MainBranch,Hobbyist,OpenSource,Employment,Student,EdLevel,UndergradMajor,EduOther,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,new_join_variable
67263,United States,3130.0,I am a developer by profession,True,The quality of OSS and closed source software ...,"Not employed, but looking for work",No,Some college/university study without earning ...,I never declared a major,Taken an online course in programming or softw...,...,Industry news about technologies you're intere...,28.0,Man,No,Straight / Heterosexual,Black or of African descent;White or of Europe...,No,Appropriate in length,Easy,NaN
67264,United States,17015.0,I am a developer by profession,False,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",No,Primary/elementary school,NaN,NaN,...,Tech articles written by other developers;Tech...,20.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult,United States USD
67265,United States,18454.0,I am a developer by profession,True,The quality of OSS and closed source software ...,Employed full-time,No,"Masters degree (MA, MS, M.Eng., MBA, etc.)","A business discipline (ex. accounting, finance...",Taken a part-time in-person course in programm...,...,Courses on technologies you're interested in,33.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy,United States USD
67266,United States,86683.0,I am a developer by profession,True,The quality of OSS and closed source software ...,Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)",Fine arts or performing arts (ex. graphic desi...,Taken an online course in programming or softw...,...,Tech articles written by other developers;Cour...,NaN,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy,United States USD
67267,United States,87065.0,I am a developer by profession,True,The quality of OSS and closed source software ...,Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Tech articles written by other developers;Indu...,33.0,Man,No,Straight / Heterosexual,"Hispanic or Latino/Latina;Native American, Pac...",No,Appropriate in length,Easy,United States USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88207,United States,69168.0,I am a developer by profession,True,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,No,Some college/university study without earning ...,"A business discipline (ex. accounting, finance...",Taken an online course in programming or softw...,...,Tech articles written by other developers;Indu...,35.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult,United States USD
88208,United States,30785.0,I am a developer by profession,True,The quality of OSS and closed source software ...,Employed full-time,No,"Masters degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Tech articles written by other developers;Tech...,50.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy,United States USD
88209,United States,69165.0,I am a developer by profession,True,The quality of OSS and closed source software ...,Employed full-time,No,"Secondary school (e.g. American high school, G...",NaN,Received on-the-job training in software devel...,...,Tech articles written by other developers;Indu...,33.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy,United States USD
88210,United States,30814.0,I am a developer by profession,True,The quality of OSS and closed source software ...,Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Received on-the-job training in software devel...,...,NaN,33.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy,United States USD
88211,United States,33746.0,I am a developer by profession,False,The quality of OSS and closed source software ...,Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,NaN,56.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy,United States USD

I can also show the count after filtering the data, for example socuial media used by indians

In [126]:
#Define Filter
filt = df['Country'] == 'India'

#Count data with a normalization at 1
df.loc[filt]['SocialMedia'].value_counts(normalize = True)

WhatsApp                    0.342379
YouTube                     0.208405
LinkedIn                    0.109355
Facebook                    0.096301
Instagram                   0.094126
Twitter                     0.062063
Reddit                      0.054162
I don't use social media    0.028627
Snapchat                    0.002634
WeChat                    0.000573
Hello                       0.000573
VK                0.000458
Youku Tudou               0.000229
Weibo                   0.000115
Name: SocialMedia, dtype: float64

But we can do the exact same thing using the goupby

In [127]:
country_grp['SocialMedia'].value_counts(normalize=True).loc['India']

SocialMedia
WhatsApp                    0.342379
YouTube                     0.208405
LinkedIn                    0.109355
Facebook                    0.096301
Instagram                   0.094126
Twitter                     0.062063
Reddit                      0.054162
I don't use social media    0.028627
Snapchat                    0.002634
Hello                       0.000573
WeChat                    0.000573
VK                0.000458
Youku Tudou               0.000229
Weibo                   0.000115
Name: SocialMedia, dtype: float64

In [128]:
#Compute median
country_grp['SalaryUSD'].median().loc['Germany']

63016.0

In [129]:
# Return number that python appear grouping by country.
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 181, dtype: int64

### Clean data and Missing Value

In [130]:
#Drop all Nan value
df.dropna()

,Country,Respondent,MainBranch,Hobbyist,OpenSource,Employment,Student,EdLevel,UndergradMajor,EduOther,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,new_join_variable
75,Albania,13385.0,I am a developer by profession,True,The quality of OSS and closed source software ...,Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Tech articles written by other developers;Tech...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy,Albania ALL
104,Albania,11549.0,I am a developer by profession,True,The quality of OSS and closed source software ...,Employed full-time,"Yes, full-time","Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Tech articles written by other developers;Indu...,24.0,Woman,No,Straight / Heterosexual,White or of European descent,No,Too long,Neither easy nor difficult,Albania ALL
127,Albania,9270.0,I am a developer by profession,False,"OSS is, on average, of LOWER quality than prop...",Employed full-time,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Tech articles written by other developers;Indu...,23.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy,Albania EUR
259,Algeria,64369.0,I am a developer by profession,True,"OSS is, on average, of LOWER quality than prop...",Employed full-time,No,"Masters degree (MA, MS, M.Eng., MBA, etc.)","Information systems, information technology, o...","Taught yourself a new language, framework, or ...",...,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Black or of African descent;White or of Europe...,Yes,Appropriate in length,Easy,Algeria DZD
296,Argentina,32870.0,I am a developer by profession,True,The quality of OSS and closed source software ...,Employed full-time,"Yes, full-time","Masters degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Tech articles written by other developers;Indu...,32.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Too long,Neither easy nor difficult,Argentina ARS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88479,Viet Nam,46585.0,"I am not primarily a developer, but I write co...",False,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Tech meetups or events in your area,32.0,Man,No,Straight / Heterosexual,East Asian,Yes,Too long,Neither easy nor difficult,Viet Nam VND
88492,Viet Nam,35116.0,I am a developer by profession,True,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,No,Some college/university study without earning ...,"A business discipline (ex. accounting, finance...",Taken an online course in programming or softw...,...,Tech articles written by other developers;Indu...,30.0,Man,No,Straight / Heterosexual,East Asian,No,Appropriate in length,Easy,Viet Nam VND
88508,Viet Nam,18279.0,I am a developer by profession,True,The quality of OSS and closed source software ...,Employed full-time,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Tech articles written by other developers;Cour...,30.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy,Viet Nam USD
88590,Viet Nam,27191.0,I am a developer by profession,True,The quality of OSS and closed source software ...,Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",Completed an industry certification program (e...,...,Tech articles written by other developers;Indu...,34.0,Man,No,Straight / Heterosexual,East Asian,Yes,Too long,Neither easy nor difficult,Viet Nam VND
88679,Viet Nam,20580.0,I am a developer by profession,False,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,"Yes, full-time","Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Tech articles written by other developers;Indu...,27.0,Man,No,Straight / Heterosexual,East Asian,Yes,Appropriate in length,Neither easy nor difficult,Viet Nam USD

In [131]:
#Drop Nan only in particular column
df.dropna(axis='index', how='all', subset=['SalaryUSD', 'Country'])

,Country,Respondent,MainBranch,Hobbyist,OpenSource,Employment,Student,EdLevel,UndergradMajor,EduOther,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,new_join_variable
0,Afghanistan,39258.0,I am a developer by profession,True,"OSS is, on average, of LOWER quality than prop...",Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Tech articles written by other developers;Indu...,28.0,Man,No,Straight / Heterosexual,East Asian;South Asian,Yes,Too long,Easy,Afghanistan AFN
1,Afghanistan,63129.0,I am a developer by profession,True,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,"Yes, full-time",I never completed any formal education,NaN,Taken an online course in programming or softw...,...,Tech articles written by other developers,NaN,NaN,NaN,NaN,NaN,Yes,Too short,Easy,Afghanistan AED
2,Russia,85715.0,I am a developer by profession,True,The quality of OSS and closed source software ...,Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",Received on-the-job training in software devel...,...,Tech articles written by other developers;Indu...,30.0,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult,Afghanistan AFN
3,Afghanistan,50767.0,I am a developer by profession,False,NaN,"Independent contractor, freelancer, or self-em...","Yes, part-time",Associate degree,"A health science (ex. nursing, pharmacy, radio...",Completed an industry certification program (e...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan AMD
5,Afghanistan,63019.0,NaN,False,"OSS is, on average, of LOWER quality than prop...",NaN,No,Some college/university study without earning ...,"A social science (ex. anthropology, psychology...",Participated in a hackathon,...,Courses on technologies you're interested in,NaN,Man,NaN,NaN,Middle Eastern,No,Too short,Neither easy nor difficult,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88747,Zimbabwe,3845.0,I am a developer by profession,True,The quality of OSS and closed source software ...,Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",Taken an online course in programming or softw...,...,Tech articles written by other developers;Indu...,30.0,Man,No,Straight / Heterosexual,Black or of African descent,No,Too long,Easy,Zimbabwe USD
88748,Zimbabwe,35092.0,I am a developer by profession,True,"OSS is, on average, of LOWER quality than prop...",Employed full-time,No,NaN,"Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Industry news about technologies you're intere...,31.0,Man,No,Straight / Heterosexual,Black or of African descent;Multiracial,Yes,Appropriate in length,Easy,Zimbabwe USD
88749,Zimbabwe,57894.0,I am a student who is learning to code,True,NaN,NaN,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,NaN,...,Tech articles written by other developers;Indu...,23.0,Man,NaN,Straight / Heterosexual,Black or of African descent,No,Too long,Neither easy nor difficult,NaN
88750,Zimbabwe,61083.0,I am a student who is learning to code,True,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work","Yes, part-time",Some college/university study without earning ...,"Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Tech articles written by other developers;Indu...,28.0,Man,NaN,NaN,Black or of African descent,Yes,Too long,Neither easy nor difficult,NaN
88883,Bergamo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
#List the Nan value with a Boolean table
df.isna()

,Country,Respondent,MainBranch,Hobbyist,OpenSource,Employment,Student,EdLevel,UndergradMajor,EduOther,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,new_join_variable
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,False,...,False,True,True,True,True,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
5,False,False,True,False,False,True,False,False,False,False,...,False,True,False,True,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88879,True,False,True,False,False,False,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
88880,True,False,True,False,False,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
88881,True,False,True,False,True,False,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
88882,True,False,True,False,False,False,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
88883,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [133]:
#Fill NaN with a particular value
df.fillna(0)

,Country,Respondent,MainBranch,Hobbyist,OpenSource,Employment,Student,EdLevel,UndergradMajor,EduOther,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,new_join_variable
0,Afghanistan,39258.0,I am a developer by profession,True,"OSS is, on average, of LOWER quality than prop...",Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Tech articles written by other developers;Indu...,28.0,Man,No,Straight / Heterosexual,East Asian;South Asian,Yes,Too long,Easy,Afghanistan AFN
1,Afghanistan,63129.0,I am a developer by profession,True,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,"Yes, full-time",I never completed any formal education,0,Taken an online course in programming or softw...,...,Tech articles written by other developers,0.0,0,0,0,0,Yes,Too short,Easy,Afghanistan AED
2,Russia,85715.0,I am a developer by profession,True,The quality of OSS and closed source software ...,Employed full-time,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",Received on-the-job training in software devel...,...,Tech articles written by other developers;Indu...,30.0,Man,No,0,0,Yes,Too long,Neither easy nor difficult,Afghanistan AFN
3,Afghanistan,50767.0,I am a developer by profession,False,0,"Independent contractor, freelancer, or self-em...","Yes, part-time",Associate degree,"A health science (ex. nursing, pharmacy, radio...",Completed an industry certification program (e...,...,0,0.0,0,0,0,0,0,0,0,Afghanistan AMD
5,Afghanistan,63019.0,0,False,"OSS is, on average, of LOWER quality than prop...",0,No,Some college/university study without earning ...,"A social science (ex. anthropology, psychology...",Participated in a hackathon,...,Courses on technologies you're interested in,0.0,Man,0,0,Middle Eastern,No,Too short,Neither easy nor difficult,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88879,0,88076.0,0,False,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
88880,0,88601.0,0,False,The quality of OSS and closed source software ...,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
88881,0,88802.0,0,False,0,Employed full-time,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
88882,0,88816.0,0,False,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
88883,Bergamo,0.0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0

We can have missing value that are written differently from NaN, in that case we use to replace it with np.nan

    df.replace('Na', np.nan, inplace=True)
    df.replace('Missing', np.nan, inplace=True)

Now we see an axample that cannot compute the mean since there is 2 value that are 'Less than 1 year' and 'more that 50 years' that are not numeric, we have to convert them and than we can compute the mean.

In [134]:
df['YearsCode'].unique()

array(['2', 'Less than 1 year', '8', nan, '1', '3', '4', '20', '28', '36',
       '7', '31', '9', '10', '5', 'More than 50 years', '6', '15', '12',
       '35', '14', '17', '18', '13', '21', '11', '40', '19', '22', '25',
       '23', '39', '34', '26', '38', '33', '16', '27', '30', '24', '32',
       '29', '43', '45', '42', '44', '37', '48', '49', '47', '50', '46',
       '41'], dtype=object)

In [135]:
import warnings
warnings.filterwarnings('ignore')

df['YearsCode'].replace('Less than 1 year', 0, inplace=True)
df['YearsCode'].replace('More than 50 years', 51, inplace=True)
df = df.dropna(axis='index', how='all', subset=['YearsCode'])

#Converting object in float
df['YearsCode'] = df['YearsCode'].astype(float)

In [136]:
df['YearsCode'].mean()

11.662212720470336

## Reading/Writing Data to different sources

We will be learning how to import and export data from multiple different sources. We will cover CSV, JSON, Excel, and more.

In [137]:
import pandas as pd

df = pd.read_csv('Data/survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv('Data/survey_results_schema.csv', index_col='Column')

pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [138]:
#Create a datatfile only with indian
filt = (df['Country'] == 'India')
india_df = df.loc[filt]

### Save

In [139]:
#Save to CVS
india_df.to_csv('Data/modified.csv')

In [140]:
#save to tvs
india_df.to_csv('Data/modified.tsv', sep='\t')

In [141]:
#Save to Excel
india_df.to_excel('Data/modified.xlsx')

In [142]:
#Save to Json
india_df.to_json('Data/modified.json', orient='records', lines=True)

### Read

In [143]:
#Read from CVS
df = pd.read_csv('Data/modified.csv', index_col='Respondent')

In [144]:
#Read Excel (setting also the index)
test = pd.read_excel('Data/modified.xlsx', index_col='Respondent')

In [145]:
#Read Json (choosing orientations)
test = pd.read_json('Data/modified.json', orient='records', lines=True)